@import url('https://fonts.google.com/specimen/Roboto');

body {
    margin: 0;
    padding: 0;
    background: hsl(234, 29%, 20%);
}

.container {
    display: flex;
    align-items: start;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;

    background-color: #ffff;
    border-radius: 40px;
}

.content {
    flex: 1;
    padding: 20px;
    margin: 30px;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    .title {
        font-size: 27px;
    }

    p {
        width: 90%;
        font-size: 16px;
    }

    ul {
        list-style: none;
        padding-left: 0;
        margin: 30px auto;
    }

    li {
        display: flex;
        align-items: center;
        margin-bottom: 15px;
    }

    svg {
        margin-right: 15px;
    }

    h3 {
        font-size: 12px;
        font-weight: 700;
        margin-bottom: 5px;
    }

    input[type="email"] {
        padding: 15px;
        border: 1px solid #ccc;
        border-radius: 5px;
        cursor: pointer;
    }

    .subscribe-button {
        background-color: hsl(235, 18%, 26%);
        color: #ffff;
        padding: 15px 40px;
        margin-top: 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;

        &:hover {
            background-color: hsl(4, 100%, 67%);
        }
    }
}

.svg-container {
    flex: 1;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}